<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @task.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @task.lname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
